$website-width: 1280px;
$main-color: #ffbc00;
$medium-color:#ccc;
$dark-color: #333;
$light-color: #f4f4f4;
$bg-img: url('../img/showcase.jpg');

.bg-main-color {
 background: $main-color;
}
.bg-dark-color {
 background: $dark-color;
}
.bg-main-color {
 background: $main-color;
}
.bg-main-color {
 background: $main-color;
}